.list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 12px;
  margin-bottom: 24px;
}

.add {
  width: 20px;
  height: 20px;
  padding: 4px;

  & svg {
    width: 12px;
    height: 12px;
  }
}

.controls {
  height: 24px;
  padding-left: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & button {
    width: 20px;
    height: 20px;
    padding: 0;
    margin-left: 8px;
  }
}