$clr-black: #000000;
$clr-white: #ffffff;
$clr-warning: #FFFACD;
$clr-orange: #FFA500;
$clr-red: #FF0000;
$clr-gray: #808080;
$clr-green: #3CB371;
$clr-green-light: #20B2AA;
$clr-steel-blue: #B0C4DE;
$clr-gray-light: #f0f4f7;